<!-- <div class="topnav">
    <a class="active" routerLink="">Home</a>
    <a routerLink="CadastrarColaborador">Cadastrar Colaborador</a>
    <a routerLink="CadastrarEquipe">Cadastrar Equipe</a>
  </div> -->



  <div class="p-grid p-dir-col p-shadow-3" style="background-color: black; height: 5%; padding: 10px;">
    <div class="p-col">
      <a routerLink="">Home</a>
      <a routerLink="CadastrarColaborador">Cadastrar Colaborador</a>
      <a routerLink="CadastrarEquipe">Cadastrar Equipe</a>
      <router-outlet></router-outlet>
    </div>
  </div>
<!-- <nz-layout>
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <a nz-menu-item routerLink="">Home</a>
      <a nz-menu-item routerLink="CadastrarColaborador">Cadastrar Colaborador</a>
      <a nz-menu-item routerLink="CadastrarEquipe">Cadastrar Equipe</a>
    </ul>
  </nz-header>
</nz-layout> -->